AntlrCSharp/bin/
AntlrCSharp/obj/

AntlrCSharp/bin/Debug/net8.0/AntlrCSharp.dll
AntlrCSharp/bin/Debug/net8.0/AntlrCSharp.exe
AntlrCSharp/bin/Debug/net8.0/AntlrCSharp.pdb
AntlrCSharp/obj/Debug/net8.0/AntlrCSharp.AssemblyInfo.cs
AntlrCSharp/obj/Debug/net8.0/AntlrCSharp.AssemblyInfoInputs.cache
AntlrCSharp/obj/Debug/net8.0/AntlrCSharp.assets.cache
AntlrCSharp/obj/Debug/net8.0/AntlrCSharp.csproj.AssemblyReference.cache
AntlrCSharp/obj/Debug/net8.0/AntlrCSharp.csproj.CoreCompileInputs.cache
AntlrCSharp/obj/Debug/net8.0/AntlrCSharp.csproj.FileListAbsolute.txt
AntlrCSharp/obj/Debug/net8.0/AntlrCSharp.dll
AntlrCSharp/obj/Debug/net8.0/AntlrCSharp.pdb
AntlrCSharp/obj/Debug/net8.0/AntlrCSharp.sourcelink.json
AntlrCSharp/obj/Debug/net8.0/apphost.exe
AntlrCSharp/obj/Debug/net8.0/ref/AntlrCSharp.dll
